<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.relaymux.daemon</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/node</string>
    <string>/usr/local/bin/relaymux</string>
    <string>--config</string>
    <string>/Users/YOU/.relaymux/config.json</string>
    <string>daemon</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/YOU</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/Users/YOU/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>HOME</key>
    <string>/Users/YOU</string>
    <key>RELAYMUX_CONFIG</key>
    <string>/Users/YOU/.relaymux/config.json</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/YOU/.relaymux/logs/daemon.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/YOU/.relaymux/logs/daemon.err.log</string>
</dict>
</plist>
